{% extends 'base.html' %}

{% block title %}{{ title }} - 我的vlog{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="mb-4">{{ title }}</h1>
        <p class="lead">{{ content }}</p>
        
        <h3 class="mt-5">关于我的</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for member in team %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ member.name }}</h5>
                        <p class="card-text">{{ member.position }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}